@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My MVC Application</h1>
    <p>This is the home page of your ASP.NET Core MVC application.</p>
</div>
